/game-launcher/build/
/game-launcher/dist/
/game-launcher/packaged-assets/
/game-launcher/node_modules/
/game-launcher/coverage/
/game-launcher/*.log
/game-launcher/public/icons/
/game-launcher/build/icons/
/game-launcher/.eslintcache
/game-launcher/builder-debug.yml
/game-launcher/builder-effective-config.yaml


/node_modules/

.DS_Store
Thumbs.db
*.swp
*.swo

.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/.cache/

.AppleDouble
.LSOverride